.nav {
    width: 100%;
    min-height: 5rem;
    z-index: 2;
    padding: 4px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-brand-name {
    font-size: 2.2rem;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  .nav-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4rem;
  }
  
  .nav-option,
  .btn {
    font-size: 1.8rem;
    cursor: pointer;
  } 
  
  .btn {
    border: transparent;
    background-color: transparent;
  }
  
 

  